.chat-body {
  padding: 0px;
}

.chat {
  background-image: url("../images/so-white.png");
  height: 100%;
  margin-top: 92px;
}

.chat__write--container {
  position: fixed;
  bottom: 0;
  margin: auto;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chat__write {
  padding: 14px 50px;
  width: 100%;
  border: none;
  font-size: 14px;
  margin: auto;
  transition: transform 0.5s ease-in-out, border-radius 0.5s ease-in-out,
    width 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}

.chat__write:focus {
  outline: none;
  width: 80%;
  border-radius: 30px;
  transform: translateY(-100px);
  box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
    0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
}

.chat__write-left {
  position: absolute;
  left: 10px;
}

.chat__write-right {
  position: absolute;
  right: 10px;
}

.chat__icon {
  font-size: 18px;
  transition: opacity 0.2s ease-in-out;
}

.chat__write:focus ~ .chat__icon {
  opacity: 0;
}

.chat .chat__messages {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 20px;
}

.chat .chat__timestamp {
  background-color: white;
  padding: 10px 10px;
  margin-bottom: 20px;
  text-transform: uppercase;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 8px 16px -8px,
    rgba(0, 0, 0, 0.024) 0px -6px 16px -6px;
  border-radius: 20px;
  font-size: 12px;
}

.message {
  display: flex;
  align-items: flex-start;
}

.chat .incommig-message {
  align-self: flex-start;
}

.chat .message__avatar {
  width: 30px;
  margin-right: 10px;
}

.chat .sent-message {
  align-self: flex-end;
}

.chat .message__bubble {
  background-color: white;
  padding: 15px 15px;
  box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
    0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
  border-radius: 20px;
}

.chat .message__author {
  margin-bottom: 10px;
  display: block;
  font-size: 14px;
  font-weight: 600;
}

.incommig-message .message__bubble {
  border-top-left-radius: 0px;
  background-image: linear-gradient(to right, #4b79a1, #283e51);
  color: white;
}

.sent-message .message__bubble {
  border-top-right-radius: 0px;
  background-image: linear-gradient(to right, #ba8b02, #181818);
  color: white;
}
